.container-gallery {
    background: #FFF;
    padding: 24px 156px;
    outline: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center; 
    list-style: none;
}

    .gallery-image {
    object-fit: cover;
    transition: transform 0.4s;
    width: 360px;
    height: 200px;
}

.gallery-image:hover {
    transform: scale(1.1);
}

/* ==================2-form.html================= */
.feedback-form {
    display: inline-flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.feedback-input {
    display: flex;
    width: 360px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
    background-color: transparent;
    padding-left: 16px;
    outline: transparent;
    transition: border-color 300ms linear;

    color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.feedback-input:focus {
    border: 1px solid #000;
}

.feedback-input:hover {
    border: 1px solid #000;
}

.label {
    display: block;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.feedback-textarea {
    display: flex;
    width: 360px;
    height: 80px;
    padding-left: 16px;
    border-radius: 4px;
    outline: transparent;
    resize: none;
}

.feedback-textarea:focus-within {
    border: 1px solid #000;
}

.feedback-textarea:hover {
    border: 1px solid #000;
}

.feedback-btn {
    padding: 8px 16px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 8px;
    background-color: #4E75FF;
    border: none;
}

.feedback-btn:hover {
    background: #6C8CFF;
}